@charset "UTF-8";
/* line 3, ../sass/partials/_02_typography.scss */
h1, h1 a, h2, h2 a, h3, h3 a, input, textarea, a, form, li, p, span, table, ul, h4, h5, button {
  font-weight: 400;
  font-style: normal;
  color: black;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  line-height: 1.615;
}

/* line 13, ../sass/partials/_02_typography.scss */
h1, h1 a, h2, h2 a, h3, h3 a, input, textarea {
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "times new roman", serif;
}

/* line 18, ../sass/partials/_02_typography.scss */
a, form, li, p, span, table, ul, h4, h5, button {
  font-family: "arial", sans-serif;
}

/* line 23, ../sass/partials/_02_typography.scss */
a, form, li, p, span, table, ul, h4, h5 {
  font-size: 15px;
}

/* line 28, ../sass/partials/_02_typography.scss */
h1, h1 a {
  font-size: 21px;
  visibility: hidden;
}
/* line 32, ../sass/partials/_02_typography.scss */
h1 a {
  visibility: visible;
}

/* line 38, ../sass/partials/_02_typography.scss */
h2, h2 a {
  font-size: 34px;
}

/* line 46, ../sass/partials/_02_typography.scss */
h3, h3 a {
  font-size: 21px;
}

/* line 54, ../sass/partials/_02_typography.scss */
input, textarea {
  font-size: 13px;
}

/* line 59, ../sass/partials/_02_typography.scss */
button {
  font-size: 13px;
}

/* line 3, ../sass/partials/_03_structure.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/partials/_03_structure.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/partials/_03_structure.scss */
body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

/* line 19, ../sass/partials/_03_structure.scss */
article {
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/partials/_03_structure.scss */
a, form, li, p, span, table, ul, h4, h5, input, textarea {
  color: #404040;
}

/* line 29, ../sass/partials/_03_structure.scss */
a {
  padding: 5px 0;
}
/* line 31, ../sass/partials/_03_structure.scss */
a:hover {
  color: #8b4513;
}

/* line 36, ../sass/partials/_03_structure.scss */
b {
  color: #8b4513;
}

/* line 42, ../sass/partials/_03_structure.scss */
header {
  width: 100%;
}

/* line 46, ../sass/partials/_03_structure.scss */
.header-wrapper {
  position: relative;
  width: 100%;
}
/* line 49, ../sass/partials/_03_structure.scss */
.header-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
/* line 54, ../sass/partials/_03_structure.scss */
.header-wrapper h1, .header-wrapper h1 a, h1 .header-wrapper a {
  display: block;
  height: 118px;
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -59px 0 0 -90px;
}
/* line 62, ../sass/partials/_03_structure.scss */
.header-wrapper h1 a, h1 .header-wrapper a a {
  background: url("http://static.tumblr.com/pqi9beo/lZ8nykfoz/header-logo.png") 0 0 no-repeat;
}

/* line 68, ../sass/partials/_03_structure.scss */
.nav-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
/* line 71, ../sass/partials/_03_structure.scss */
.nav-wrapper nav {
  width: 100%;
  margin: 0 21px 21px;
  text-align: center;
}
/* line 75, ../sass/partials/_03_structure.scss */
.nav-wrapper nav ol {
  margin: 0;
  padding: 0;
}
/* line 79, ../sass/partials/_03_structure.scss */
.nav-wrapper nav li {
  margin-right: 34px;
  padding-top: 16px;
  border-top: solid 5px transparent;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 85, ../sass/partials/_03_structure.scss */
.nav-wrapper nav li:last-child {
  margin: 0;
}
/* line 88, ../sass/partials/_03_structure.scss */
.nav-wrapper nav li:hover {
  border-top: solid 5px #8b4513;
}

/* line 97, ../sass/partials/_03_structure.scss */
.panel-cal {
  background: #fafafa;
}

/* line 101, ../sass/partials/_03_structure.scss */
.calendar-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 21px 21px 34px;
}
/* line 105, ../sass/partials/_03_structure.scss */
.calendar-wrapper h3, .calendar-wrapper h3 a, h3 .calendar-wrapper a {
  margin: 13px 0 21px;
  text-align: left;
  color: #8b4513;
}
/* line 110, ../sass/partials/_03_structure.scss */
.calendar-wrapper .calendar-div {
  float: left;
  width: 66%;
}
/* line 114, ../sass/partials/_03_structure.scss */
.calendar-wrapper .notify-div {
  width: 33%;
}
/* line 116, ../sass/partials/_03_structure.scss */
.calendar-wrapper .notify-div ol {
  width: 100%;
  padding: 0;
}
/* line 119, ../sass/partials/_03_structure.scss */
.calendar-wrapper .notify-div ol li {
  list-style: none;
}

/* line 128, ../sass/partials/_03_structure.scss */
.panel-odd {
  width: 100%;
  padding: 21px 21px 34px;
}

/* line 133, ../sass/partials/_03_structure.scss */
.panel-even {
  width: 100%;
  padding: 21px 21px 34px;
  background: #fffaf0;
}

/* line 139, ../sass/partials/_03_structure.scss */
.contents-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
/* line 142, ../sass/partials/_03_structure.scss */
.contents-wrapper h2, .contents-wrapper h2 a, h2 .contents-wrapper a {
  margin: 34px 0 51px;
  text-align: center;
  color: #8b4513;
}
/* line 147, ../sass/partials/_03_structure.scss */
.contents-wrapper h3, .contents-wrapper h3 a, h3 .contents-wrapper a {
  margin: 0 0 21px;
  text-align: center;
  color: #8b4513;
}
/* line 152, ../sass/partials/_03_structure.scss */
.contents-wrapper ul {
  width: 982px;
  margin: 21px 21px 34px;
  padding: 0;
}
/* line 156, ../sass/partials/_03_structure.scss */
.contents-wrapper ul li {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
/* line 165, ../sass/partials/_03_structure.scss */
.contents-wrapper p {
  width: 100%;
  line-height: 2.1em;
}
/* line 169, ../sass/partials/_03_structure.scss */
.contents-wrapper img {
  width: 300px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
/* line 173, ../sass/partials/_03_structure.scss */
.contents-wrapper .vertical-text {
  width: auto;
  margin: 0 auto;
  text-align: left;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* line 183, ../sass/partials/_03_structure.scss */
#contact-table {
  width: 982px;
  margin: 21px 21px 0;
  padding: 0;
}
/* line 187, ../sass/partials/_03_structure.scss */
#contact-table .contact-td-l {
  width: 50%;
  margin: 0;
  padding: 0 13px 13px 0;
  text-align: right;
}
/* line 193, ../sass/partials/_03_structure.scss */
#contact-table .contact-td-r {
  width: 50%;
  margin: 0;
  padding: 0 0 13px 13px;
  text-align: left;
}
/* line 199, ../sass/partials/_03_structure.scss */
#contact-table input, #contact-table textarea {
  margin: 0;
  padding: 5px 8px;
  line-height: 1.615;
  border: solid 1px #cdc0b0;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
/* line 206, ../sass/partials/_03_structure.scss */
#contact-table #ss-submit {
  margin-top: 13px;
  padding: 3px 13px;
  color: #ffffff;
  background: #8b4513;
  border: solid 1px #cdc0b0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 219, ../sass/partials/_03_structure.scss */
.panel-footer {
  width: 100%;
  padding: 21px 21px 34px;
  background: #8b4513;
}
/* line 223, ../sass/partials/_03_structure.scss */
.panel-footer nav {
  width: 100%;
  margin-bottom: 13px;
}
/* line 226, ../sass/partials/_03_structure.scss */
.panel-footer nav ol {
  margin: 0;
  padding: 0;
}
/* line 230, ../sass/partials/_03_structure.scss */
.panel-footer nav li {
  margin-right: 13px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 234, ../sass/partials/_03_structure.scss */
.panel-footer nav li:last-child {
  margin: 0;
}
/* line 239, ../sass/partials/_03_structure.scss */
.panel-footer nav li a {
  color: inherit;
}
/* line 244, ../sass/partials/_03_structure.scss */
.panel-footer span {
  color: #ffffff;
}
/* line 246, ../sass/partials/_03_structure.scss */
.panel-footer span a {
  color: inherit;
}

/* line 252, ../sass/partials/_03_structure.scss */
.cf {
  overflow: hidden;
  *zoom: 1;
}

/* line 259, ../sass/partials/_03_structure.scss */
.pie {
  behavier: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/css/PIE.htc");
}

/* line 3, ../sass/partials/_05_gvariables.scss */
.cf {
  overflow: hidden;
  *zoom: 1;
}

/* line 10, ../sass/partials/_05_gvariables.scss */
.pie {
  behavier: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/css/PIE.htc");
}
