@charset "UTF-8";
/* line 3, ../sass/partials/_02_typography.scss */
h1, h1 a, h2, h2 a, h3, h3 a, input, textarea, .pagination ul li, .pagination ul li a, a, form, li, p, span, table, ul, h4, h5, button {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  line-height: 1.615;
}

/* line 12, ../sass/partials/_02_typography.scss */
h1, h1 a, h2, h2 a, h3, h3 a, input, textarea, .pagination ul li, .pagination ul li a {
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "times new roman", serif;
}

/* line 17, ../sass/partials/_02_typography.scss */
a, form, li, p, span, table, ul, h4, h5, button {
  font-family: "arial", sans-serif;
}

/* line 22, ../sass/partials/_02_typography.scss */
a, form, li, p, span, table, ul, h4, h5 {
  font-size: 15px;
}

/* line 27, ../sass/partials/_02_typography.scss */
h1, h1 a {
  font-size: 21px;
  visibility: hidden;
}
/* line 31, ../sass/partials/_02_typography.scss */
h1 a {
  visibility: visible;
}

/* line 37, ../sass/partials/_02_typography.scss */
h2, h2 a {
  font-size: 34px;
}

/* line 45, ../sass/partials/_02_typography.scss */
h3, h3 a {
  font-size: 21px;
}

/* line 53, ../sass/partials/_02_typography.scss */
input, textarea {
  font-size: 13px;
}

/* line 58, ../sass/partials/_02_typography.scss */
button {
  font-size: 13px;
}

/* line 66, ../sass/partials/_02_typography.scss */
.pagination ul li a {
  font-size: inherit;
}

/* line 5, ../sass/partials/_03_structure.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/partials/_03_structure.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/partials/_03_structure.scss */
body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

/* line 21, ../sass/partials/_03_structure.scss */
article {
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 27, ../sass/partials/_03_structure.scss */
a, form, li, p, span, table, ul, h4, h5, input, textarea {
  color: #404040;
}

/* line 31, ../sass/partials/_03_structure.scss */
a {
  padding: 5px 0;
}
/* line 33, ../sass/partials/_03_structure.scss */
a:hover {
  color: #8b4513;
}

/* line 38, ../sass/partials/_03_structure.scss */
b {
  color: #8b4513;
}

/* line 44, ../sass/partials/_03_structure.scss */
header {
  width: 100%;
  min-width: 987px;
}

/* line 49, ../sass/partials/_03_structure.scss */
.header-wrapper {
  position: relative;
  width: 100%;
}
/* line 52, ../sass/partials/_03_structure.scss */
.header-wrapper img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
/* line 57, ../sass/partials/_03_structure.scss */
.header-wrapper h1, .header-wrapper h1 a, h1 .header-wrapper a {
  display: block;
  height: 200px;
  width: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -120px;
}
/* line 65, ../sass/partials/_03_structure.scss */
.header-wrapper h1 a, h1 .header-wrapper a a {
  background: url("http://static.tumblr.com/pqi9beo/1kYo04s9n/header-logo_white.png") 0 0 no-repeat;
}

/* line 71, ../sass/partials/_03_structure.scss */
.nav-wrapper {
  width: 100%;
  border-bottom: solid 1px #faebd7;
}
/* line 74, ../sass/partials/_03_structure.scss */
.nav-wrapper nav {
  width: 987px;
  margin: 0 auto;
  padding: 0 21px 21px;
  text-align: center;
}
/* line 79, ../sass/partials/_03_structure.scss */
.nav-wrapper nav ol {
  margin: 0;
  padding: 0;
}
/* line 83, ../sass/partials/_03_structure.scss */
.nav-wrapper nav li {
  margin-right: 34px;
  padding-top: 16px;
  border-top: solid 5px transparent;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 89, ../sass/partials/_03_structure.scss */
.nav-wrapper nav li:last-child {
  margin: 0;
}
/* line 92, ../sass/partials/_03_structure.scss */
.nav-wrapper nav li:hover {
  border-top: solid 5px #8b4513;
}

/* line 101, ../sass/partials/_03_structure.scss */
.panel-info {
  width: 100%;
  min-width: 987px;
  background: #fafafa;
  border-bottom: solid 1px #faebd7;
}

/* line 108, ../sass/partials/_03_structure.scss */
.info-wrapper {
  width: 987px;
  margin: 0 auto;
  padding: 21px 0;
}
/* line 112, ../sass/partials/_03_structure.scss */
.info-wrapper .calendar-wrapper {
  float: left;
  width: 50%;
  padding-left: 21px;
}
/* line 116, ../sass/partials/_03_structure.scss */
.info-wrapper .calendar-wrapper img {
  width: 80%;
}
/* line 120, ../sass/partials/_03_structure.scss */
.info-wrapper .news-wrapper {
  float: left;
  width: 50%;
  padding-left: 21px;
}
/* line 124, ../sass/partials/_03_structure.scss */
.info-wrapper .news-wrapper h3, .info-wrapper .news-wrapper h3 a, h3 .info-wrapper .news-wrapper a {
  margin: 0 0 21px;
  text-align: left;
  color: #8b4513;
}
/* line 129, ../sass/partials/_03_structure.scss */
.info-wrapper .news-wrapper ol {
  width: 100%;
  padding: 0;
}
/* line 132, ../sass/partials/_03_structure.scss */
.info-wrapper .news-wrapper ol li {
  list-style: none;
}

/* line 141, ../sass/partials/_03_structure.scss */
.panel-odd {
  width: 100%;
  min-width: 987px;
}

/* line 146, ../sass/partials/_03_structure.scss */
.panel-even {
  width: 100%;
  min-width: 987px;
  background: #fffaf0;
}

/* line 152, ../sass/partials/_03_structure.scss */
.contents-wrapper {
  width: 987px;
  margin: 0 auto;
  padding: 21px;
}
/* line 156, ../sass/partials/_03_structure.scss */
.contents-wrapper h2, .contents-wrapper h2 a, h2 .contents-wrapper a {
  margin: 13px 0 34px;
  text-align: center;
  color: #8b4513;
}
/* line 161, ../sass/partials/_03_structure.scss */
.contents-wrapper h3, .contents-wrapper h3 a, h3 .contents-wrapper a {
  margin: 0 0 21px;
  text-align: center;
  color: #8b4513;
}
/* line 166, ../sass/partials/_03_structure.scss */
.contents-wrapper ul {
  width: 100%;
  padding: 0;
}
/* line 169, ../sass/partials/_03_structure.scss */
.contents-wrapper ul li {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
/* line 178, ../sass/partials/_03_structure.scss */
.contents-wrapper p {
  width: 100%;
  line-height: 2.1em;
}
/* line 182, ../sass/partials/_03_structure.scss */
.contents-wrapper img {
  width: 329px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
/* line 186, ../sass/partials/_03_structure.scss */
.contents-wrapper .vertical-text {
  display: inline;
  width: auto;
  margin: 0 auto;
  text-align: left;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}

/* line 198, ../sass/partials/_03_structure.scss */
.panel-contact {
  width: 100%;
  min-width: 987px;
  background: #fafafa;
  border-top: solid 1px #faebd7;
}

/* line 205, ../sass/partials/_03_structure.scss */
#contact-table {
  width: 100%;
}
/* line 207, ../sass/partials/_03_structure.scss */
#contact-table .contact-td-l {
  width: 50%;
  margin: 0;
  padding: 0 10.5px 13px 0;
  text-align: right;
}
/* line 213, ../sass/partials/_03_structure.scss */
#contact-table .contact-td-r {
  width: 50%;
  margin: 0;
  padding: 0 0 13px 10.5px;
  text-align: left;
}
/* line 219, ../sass/partials/_03_structure.scss */
#contact-table input, #contact-table textarea {
  margin: 0;
  padding: 5px 8px;
  line-height: 1.615;
  border: solid 1px #faebd7;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
/* line 226, ../sass/partials/_03_structure.scss */
#contact-table #ss-submit {
  margin-top: 13px;
  padding: 3px 13px;
  color: #ffffff;
  background: #8b4513;
  border: solid 1px #faebd7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 239, ../sass/partials/_03_structure.scss */
.panel-permalink, .panel-tagged {
  width: 100%;
  min-width: 987px;
  padding: 21px 0;
  background: #fffaf0;
}
/* line 244, ../sass/partials/_03_structure.scss */
.panel-permalink h2, .panel-permalink h2 a, h2 .panel-permalink a, .panel-tagged h2, .panel-tagged h2 a, h2 .panel-tagged a {
  margin: 13px 0 34px;
  text-align: center;
  color: #8b4513;
}
/* line 249, ../sass/partials/_03_structure.scss */
.panel-permalink ol, .panel-tagged ol {
  margin: 0;
  padding: 0;
}

/* line 255, ../sass/partials/_03_structure.scss */
.permalink-wrapper, .tagged-wrapper {
  display: block;
  width: 610px;
  margin: 0 auto 34px;
  padding: 21px;
  background: #ffffff;
  border: solid 1px #faebd7;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
/* line 264, ../sass/partials/_03_structure.scss */
.permalink-wrapper h3, .permalink-wrapper h3 a, h3 .permalink-wrapper a, .tagged-wrapper h3, .tagged-wrapper h3 a, h3 .tagged-wrapper a {
  margin: 0 0 21px;
  text-align: left;
  color: #8b4513;
}
/* line 269, ../sass/partials/_03_structure.scss */
.permalink-wrapper img, .tagged-wrapper img {
  display: block;
  margin: 0 auto;
}
/* line 273, ../sass/partials/_03_structure.scss */
.permalink-wrapper footer, .tagged-wrapper footer {
  padding-top: 13px;
  border-top: solid 1px #faebd7;
}

/* line 280, ../sass/partials/_03_structure.scss */
.メニュー ol {
  display: block;
  width: 987px;
  margin: 0 auto;
  padding: 0;
}
/* line 286, ../sass/partials/_03_structure.scss */
.メニュー .tagged-wrapper {
  float: left;
  display: block;
  width: 287px;
  margin: 0 21px 34px;
  padding: 21px 21px 0;
}
/* line 292, ../sass/partials/_03_structure.scss */
.メニュー .tagged-wrapper img {
  width: 245px;
}
/* line 295, ../sass/partials/_03_structure.scss */
.メニュー .tagged-wrapper p {
  text-align: center;
}
/* line 298, ../sass/partials/_03_structure.scss */
.メニュー .tagged-wrapper footer {
  display: none;
}

/* line 304, ../sass/partials/_03_structure.scss */
.pagination {
  width: 610px;
  margin: 0 auto 13px;
}
/* line 307, ../sass/partials/_03_structure.scss */
.pagination ul {
  margin: 0;
  padding: 0;
}
/* line 311, ../sass/partials/_03_structure.scss */
.pagination li {
  width: 33.3%;
  list-style: none;
}
/* line 314, ../sass/partials/_03_structure.scss */
.pagination li:first-child {
  float: left;
  text-align: left;
}
/* line 318, ../sass/partials/_03_structure.scss */
.pagination li:nth-child(2) {
  float: right;
  text-align: right;
}
/* line 322, ../sass/partials/_03_structure.scss */
.pagination li:last-child {
  margin: 0 auto;
  text-align: center;
  color: #8b4513;
}
/* line 327, ../sass/partials/_03_structure.scss */
.pagination li a {
  padding: 5px 0;
}

/* line 335, ../sass/partials/_03_structure.scss */
.panel-footer {
  width: 100%;
  min-width: 987px;
  background: #8b4513;
}

/* line 341, ../sass/partials/_03_structure.scss */
.footer-wrapper {
  width: 987px;
  margin: 0 auto;
  padding: 21px 21px 34px;
}
/* line 345, ../sass/partials/_03_structure.scss */
.footer-wrapper nav {
  width: 100%;
  margin-bottom: 13px;
}
/* line 348, ../sass/partials/_03_structure.scss */
.footer-wrapper nav ol {
  margin: 0;
  padding: 0;
}
/* line 352, ../sass/partials/_03_structure.scss */
.footer-wrapper nav li {
  margin-right: 13px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 356, ../sass/partials/_03_structure.scss */
.footer-wrapper nav li:last-child {
  margin: 0;
}
/* line 361, ../sass/partials/_03_structure.scss */
.footer-wrapper nav li a {
  color: inherit;
}
/* line 366, ../sass/partials/_03_structure.scss */
.footer-wrapper span {
  color: #ffffff;
}
/* line 368, ../sass/partials/_03_structure.scss */
.footer-wrapper span a {
  color: inherit;
}

/* line 374, ../sass/partials/_03_structure.scss */
.cf {
  overflow: hidden;
  *zoom: 1;
}

/* line 381, ../sass/partials/_03_structure.scss */
.pie {
  behavier: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/css/PIE.htc");
}

/* line 3, ../sass/partials/_05_gvariables.scss */
.cf {
  overflow: hidden;
  *zoom: 1;
}

/* line 10, ../sass/partials/_05_gvariables.scss */
.pie {
  behavier: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/css/PIE.htc");
}
