// Structure partial

*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

article {
  position: relative;
  margin: 0;
  padding: 0;
}

// Global header

header {
  height: 118px;
  max-width: 1024px;
  margin: 0 auto 21px;
  position: relative;
  h1 {
    visibility: hidden;
  }
  .header-logo {
    display: block;
    height: 118px;
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("http://static.tumblr.com/pqi9beo/lZ8nykfoz/header-logo.png") 0 0 no-repeat;
  }
}
nav {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  ol {
    margin: 0;
  }
  li {
    margin-right: 21px;
    padding-bottom: 5px;
    border-bottom: solid 1px transparent;
    @include inline-block;
    @include transition(all 0.1s ease-in-out);
    &:last-child {
      margin: 0;
    }
    &:hover {
    }
  }
}

//

#calendar {
  width: 100%;
  position: relative;
  .calendar-bg {
    width: 100%;
    max-width: 2048px;
    margin: 0 auto;
    filter: brightness(95%);
    z-index: 10;
  }
  .calendar-base {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1024px;
    margin: 0 auto;
    z-index: 20;
  }
  .calendar-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;
  }
}

//

.panel {
  width: 100%;
}

.panel-odd {
  width: 100%;
  padding: 21px 21px 34px;
}

.panel-even {
  width: 100%;
  padding: 21px 21px 34px;
  background: #fafafa;
}

.contents-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
}

.link-button {
  border-bottom: dashed 1px;
  @include transition(all 0.1s ease-in-out);
  &:hover {
    border-color: #4aa2f2;
    color: #4aa2f2;
  }
}

.page-previous {
  position: absolute;
  left: 400px;
  @include transition(all 0.1s ease-in-out);
  &:hover {
    color: #ba429b;
  }
}

.page-next {
  position: absolute;
  right: 400px;
  @include transition(all 0.1s ease-in-out);
  &:hover {
    color: #ba429b;
  }
}

.cf {
  @include clearfix;
}

//.pie {
//  @include pie-element(relative);
//}
.pie {
  behavier: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/css/PIE.htc")
}
