// Structure partial

*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

// Global header

header {
  display: block;
  width: 100%;
  h1 a {
    position: absolute;
    background: url() 0 0 no-repeat;
  }
  img {
    width: 100%;
    filter: brightness(95%);
  }
}

nav {
  width: 100%;
  margin: 0 auto;
  padding: 21px 0;
  text-align: center;
  ol li {
    margin-right: 21px;
    padding-bottom: 5px;
    border-bottom: solid 1px transparent;
    @include inline-block;
    @include transition(all 0.1s ease-in-out);
    &:last-child {
      margin: 0;
    }
    &:hover {
    }
  }
}

//

.contents-wrapper {
  max-width: 1024px;
  position: relative;
}

.link-button {
  border-bottom: dashed 1px;
  @include transition(all 0.1s ease-in-out);
  &:hover {
    border-color: #4aa2f2;
    color: #4aa2f2;
  }
}

.page-previous {
  position: absolute;
  left: 400px;
  @include transition(all 0.1s ease-in-out);
  &:hover {
    color: #ba429b;
  }
}

.page-next {
  position: absolute;
  right: 400px;
  @include transition(all 0.1s ease-in-out);
  &:hover {
    color: #ba429b;
  }
}

.cf {
  @include clearfix;
}

//.pie {
//  @include pie-element(relative);
//}
.pie {
  behavier: url("https://dl.dropboxusercontent.com/u/2997478/kyg-samples/css/PIE.htc")
}
