// Color variables - Source > https://kuler.adobe.com/Atsushi-OHO-color-theme-2665497

$color-blue-80: #5769a0;
$color-blue-60: #7f8db9;
$color-blue-40: #aeb6d2;
$color-blue-20: #d6dae8;

$color-grey-80: #4c4c4c;
$color-grey-60: #8c8a80;
$color-grey-40: #d2d0c7;
$color-grey-20: #e8e7e2;

$color-brown-80: #c58c52;
$color-brown-60: #c29973;
$color-brown-40: #e3c8ad;
$color-brown-20: #f1e3d5;

// Typography variables

$font-size-title: 8.9rem;
$font-size-heading: 3.4rem;
$font-size-body: 1.3rem;

$font-color-title: $color-blue-80;
$font-color-heading: $color-brown-80;
$font-color-body: $color-grey-80;
